.gallery_bg{
    position: relative;
    height: 450px;
    background-color: #D6F379;
    width: 100%;
    overflow: hidden;
}

.gallery_container{
    position: absolute;
    top: -70%;
    display: flex;
    flex-wrap: nowrap;
    transform: rotate(-20deg);
}

