.header{
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
@media (min-width: 768px){
  .header{
    padding-left: 80px;
  }
} 
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 87px);
  background-color: red;/*TEMPORAL*/
  width: 80%;
  margin: 0 auto;
}
